<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Coachboard Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.6.4/jquery.min.js" type="application/javascript" ></script>
    <script src="/webjars/bootstrap/3.4.0/js/bootstrap.min.js" type="application/javascript" ></script>
</head>
<body>
<div class="container text-center">
    <h1>Welcome to CodeJava.net</h1>
    <h3><a th:href="@{/users}">List of Users</a></h3>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3>
</div>

</body>
</html>

